@font-face {
  src: url(fonts/demon_font.ttf);
  font-family: nosifer;
}

html
 {
  scroll-behavior:smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }

.overall1
{
<<<<<<< HEAD
  position: absolute;
=======
  position: relative;
>>>>>>> c2666449430ef3771f71431f4e231580679b6d50
  width: 100%;
  height: 100vh;
  align-items: center;


}
.demon_text {
  position: absolute;

  width: 490px;
  height: 120px;
  overflow: auto;
  color: rgb(255, 0, 0);
<<<<<<< HEAD
  z-index: 1;
=======
  z-index: 2;
>>>>>>> c2666449430ef3771f71431f4e231580679b6d50
  bottom: 50%;
  left: 7%;
  font-size: 40px;
  font-family: nosifer;
  letter-spacing: 5px;
  font-weight: 50;
  overflow-y: scroll;
<<<<<<< HEAD
  padding: 23px ;
=======
  padding: 23px;
>>>>>>> c2666449430ef3771f71431f4e231580679b6d50
  overflow: scroll;
  overflow-x: hidden;


  
}
::-webkit-scrollbar 
  {
  width: 0px;
  }
::-webkit-scrollbar-thumb {
<<<<<<< HEAD
  background: #FF0000;
=======

>>>>>>> c2666449430ef3771f71431f4e231580679b6d50
  }

.demon1
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin: 0;
  z-index: -1;
}


 section .box23 {

  width: 200px;
  height: 100px;
  overflow: auto;
  position: absolute;

  
}
    


.overall2
{
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;


}

.overall2 .imgBx video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  size: auto;
}
.overall2 .fire
{
<<<<<<< HEAD
  position: absolute;
=======
  position: relative;
>>>>>>> c2666449430ef3771f71431f4e231580679b6d50
  width: 120px;
  height: auto; 
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  margin: 15px;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: 200px;
  animation: the_sign 20s infinite;



}
.overall2 .fire img
{
  width: 100%;
  transition: all linear 0.4s;
}
img.hover-img
{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

}
.fire:hover img
{
  opacity: 0;
}
.fire:hover img.hover-img
{
  opacity: 1;
}



@keyframes the_sign{
  0%{
      margin-top: 5%;
  }
  25%{
      margin-top: 7%;
  }
  50%{
      margin-top: 9%;
  }
  75%{
       margin-top: 7%;
  }
  100%{
      margin-top: 5%;
  }
}

<<<<<<< HEAD
@font-face {
  src: url(fonts/devil-language.ttf);
  font-family: devil-language;
}

section
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow:hidden;

}
section .text
{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: lighter;
  user-select: none;
  pointer-events: none;
  animation: your_soul 15s linear infinite;
  font-family: devil-language;
  z-index: 2;

}
@keyframes your_soul
  {
    0%
    {
      transform: rotate(360deg);
    }
    100%
    {
      transform: rotate(0deg);
    }

  }

section .text span
{
  position: absolute;
  text-transform: uppercase;
  display: inline-block;
  top: -100px;
  transform-origin: 0 100px;

}
=======
>>>>>>> c2666449430ef3771f71431f4e231580679b6d50
