
html{
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 1254px;
  height: 600px;
  padding: 80px;


}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 550px;
  height: 100px;
  padding: 30px;


}
.swiper-slide video
  {
    width: 100%;  
    border-radius: 12px;
  }
.swiper-slide .first
  {
    position: relative;
    font-size: 36px;
    text-align: center;
  }
  .swiper-slide .second
  {
    position: relative;
    font-size: 36px;
    text-align: center;
  }
  .swiper-slide .third
  {
    position: relative;
    font-size: 36px;
    text-align: center;
  }
  s.swiper-slide .fist .number1
   {
     font-size: 80px;
   }