@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
*

{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   

}
body
{
  overflow-x: hidden;
}
section
{
  position: relative;
  height: 100vh;
   overflow: hidden;
   overflow-y: hidden;

}
section .bgrally
{
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

  z-index: 0;
}
section .carrally
{
  position: absolute;
  
  top: 510px;
  width: 950px;
  left: 52%;
  max-width:calc(700px - var(--x)/9);
  z-index: 2;
}
.rallytext
{
  position: absolute;
  width: 30%;
  top:60vh;
  margin-left: 460px;
  margin-right: 1900px;
  padding: 0;
  transform: translate(calc(100% - var(--x)/2), -50%);
  z-index: 1;
}
.logo img
{
  position: absolute;
    width: 70px;
    height: auto;
    z-index: 1;
}
::-webkit-scrollbar
{
    width: 20px;
}
::-webkit-scrollbar-track
{
    border: 5px solid #232943;
    box-shadow:  inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(45deg,#12661A,#2F4858 );
    border-radius: 5px;
}
.paragraf
{
    font-size: 22px;
    padding: 20px;
    z-index: 2;
}
footer
{
  background: linear-gradient(45deg,#0c3b10,#198b56,#0c3b10 );
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
  margin-top: auto;
}
.footer-content
{
  align-items: center;
  justify-content: center;
  text-align: center;

}
.footer-content h3
{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3em;
}
.footer-content p
{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-style: 14px;

}
.socials
{
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;

}
.socials li
{
  margin: 0 10px;
}
.socials a
{
  text-decoration: none;
  color: #fff;
}
.socials a i
{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i
{
  color: #0068D2;
}

.footer-bottom
{
  background: #0f3608;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p
{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span
{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

